appdirs==1.4.2
dill==0.2.6
httplib2==0.10.3
multiprocess==0.70.5
pyparsing==2.1.10
pyreadline==2.1
selenium==3.0.2
six==1.10.0
urllib3==1.10
#https://eveningsamurai.wordpress.com/2013/11/21/changing-http-headers-for-a-selenium-webdriver-request/
#geckodriver